.departmentInfo {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #FFFA;
}