.sp-dropdown {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
}

.sp-dropdown-title {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    gap: 0.5rem;
}

.sp-dropdown-title:hover {
    background-color: #D3D3D330;
}

.sp-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--app-header-height);
    right: 0;
    width: fit-content;
    min-width: 200px;
    max-width: 400px;
    padding: 0.75rem 0.5rem;
    border-radius: 6px;
    background-color: black;
    transition: 0.3s ease;
    overflow: hidden;
    opacity: 0;
    visibility: collapse;
    z-index: 1000;
}

.sp-dropdown-menu.open {
    opacity: 1;
    visibility: visible;
}

.sp-dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.sp-dropdown-item.clickable:hover {
    background-color: var(--color-primary);
}

.sp-dropdown-separator {
    padding: 0.5rem;
}

.sp-dropdown-separator hr {
    margin: 0;
    border: 0;
    opacity: 0.5;
}