.app_header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--app-header-height);
    z-index: 999;
}

.app_body {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - var(--app-header-height));
}

.app_main {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}