.form_input_password {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;
}

.form_input_password label {
    margin-left: 0.25rem;
    font-size: 0.9em;
    font-weight: bold;
    user-select: none;
}

.form_input_password #container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 0.25rem;
    border: 2px solid gray;
    border-radius: 0.3rem;
    background-color: white;
    overflow: hidden;
}

.form_input_password #container:focus-within {
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 4px 1px var(--color-primary);
}

.form_input_password #container input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 1em;
}

.form_input_password #container span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
}

.form_input_error {
    min-height: 1.5em;
    margin-top: 0.1rem;
    margin-left: 0.25rem;
    font-size: 0.65em;
    font-weight: 600;
    color: #F71B2F;
}