* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    --app-header-height: 50px;

    --color-primary: #00FFFF;
    --color-secondary: #1E90FF;

    --font-primary: 'sans-serif';
    --font-size-primary: 14px;
}

.app {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--color-text);
    background-color: var(--color-dark);
    background-attachment: fixed;
}